common/maven/bin-resources/resources/camera_settings/camera_settings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bool"/>
      <xs:enumeration value="MinMaxStep"/>
      <xs:enumeration value="Enumeration"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Button"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="cameras">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="camera" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="required"/>
                            <xs:attribute type="xs:string" name="query" use="optional"/>
                            <xs:attribute type="xs:string" name="description" use="optional"/>
                            <xs:attribute type="DataType" name="dataType" use="required"/>
                            <xs:attribute type="xs:string" name="min" use="optional"/>
                            <xs:attribute type="xs:string" name="max" use="optional"/>
                            <xs:attribute type="xs:string" name="step" use="optional"/>
                            <xs:attribute type="xs:boolean" name="readOnly" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="required"/>
                                  <xs:attribute type="xs:string" name="query" use="optional"/>
                                  <xs:attribute type="xs:string" name="description" use="optional"/>
                                  <xs:attribute type="DataType" name="dataType" use="required"/>
                                  <xs:attribute type="xs:string" name="min" use="optional"/>
                                  <xs:attribute type="xs:string" name="max" use="optional"/>
                                  <xs:attribute type="xs:string" name="step" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="readOnly" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="description" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
            <xs:attribute type="xs:string" name="description" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
